<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tws.repository.StorageMapper">
    <select id="selectAll" resultType="tws.entity.Storage">
        select * from `storage`;
    </select>

    <insert id="insertStorage" parameterType="tws.entity.Storage">
       insert into `storage`(`id`,`orderNumber`,`name`,`phone`,`weight`,`state`) 
       values
       (#{storage.id},#{storage.orderNumber},#{storage.name},#{storage.phone},#{storage.weight},#{storage.state});
    </insert>
    
    <update id="updatetTimeOfAppointment" parameterType="tws.entity.Storage">
       update  `storage` 
       set
       timeOfAppointment = #{storage.timeOfAppointment},
       state = #{storage.state}
       where
       orderNumber = #{storage.orderNumber};
    </update>
    
</mapper>
